Flask[async]==2.3.3
gunicorn==21.2.0
uvicorn[standard]==0.30.1
requests==2.32.3
beautifulsoup4==4.12.3
lxml==4.9.4
pandas==2.2.3
selenium==4.27.1
urllib3==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.1
